<div class="container">
   <h2>All Wines</h2>
   <ul id="wines">
   {{#each wines as |wine|}}
       <h3>{{wine.name}}</h3>
       <ul>ID: {{wine.id}}</ul>
       <ul>Style: {{wine.style}}</ul>
       <ul>Variety: {{wine.variety}}</ul>
       <ul>Producer: {{wine.producer}}</ul>
       <ul>Country: {{wine.country}}</ul>
       <ul>Appearance: {{wine.appearance}}</ul>
       <ul>Aroma: {{wine.aroma}}</ul>
       <ul>Tasting Notes: {{wine.notes}}</ul>
       <ul>Memories: {{wine.mem}}</ul>
   {{/each}}
   </ul>
 </div>
