<div class="container">
   <h2>All Wines</h2>
   <ul id="wines">
   {{#each wines as |wine|}}
       <h3>{{wine.name}}</h3>
       <ul>ID: {{wine.id}}</ul>
       <ul>Style: {{wine.style}}</ul>
       <ul>Variety: {{wine.variety}}</ul>
       <ul>Producer: {{wine.producer}}</ul>
       <ul>Country: {{wine.country}}</ul>
       <ul>Appearance: {{wine.appearance}}</ul>
       <ul>Aroma: {{wine.aroma}}</ul>
       <ul>Tasting Notes: {{wine.tasting_notes}}</ul>
       <ul>Memories: {{wine.memories}}</ul>
       <button type="submit" class="main btn btn-info" data-toggle="modal" data-target="#wineUpdateModal">Update Wine</button>
       <button type="button" class="main btn btn-secondary" data-toggle="modal" data-target="#wineDeleteModal">Delete Wine</button>
   {{/each}}
   </ul>
 </div>
